<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.container
        includeCssFiles="{0: '{f:uri.resource(path:\'Backend/css/reactive.css\')}'}"
        includeJsFiles="{0:'{f:uri.resource(path: \'Backend/JavaScript/tabs.js\')}',
        10: '{f:uri.resource(path: \'Backend/JavaScript/default.js\')}',
        15: '{f:uri.resource(path: \'Backend/JavaScript/rating.js\')}',}">

    <div class="baxi_dashboard">
        <f:render section="content" />
    </div>

    <div>
        <f:be.buttons.csh />
        <f:be.menus.actionMenu>
            <f:be.menus.actionMenuItem label="Bookings" controller="Booking" action="list" />
            <f:be.menus.actionMenuItem label="Unternehmen" controller="Company" action="list" />
            <f:be.menus.actionMenuItem label="Linien" controller="Linie" action="list" />
            <f:be.menus.actionMenuItem label="Fahrten" controller="Fahrt" action="list" />
            <f:be.menus.actionMenuItem label="FahrtZeiten" controller="FahrtZeit" action="list" />
            <f:be.menus.actionMenuItem label="Zonen" controller="Zone" action="list" />
            <f:be.menus.actionMenuItem label="Haltestellen" controller="Haltestelle" action="list" />
            <f:be.menus.actionMenuItem label="Main" controller="Baxi" action="index" />
        </f:be.menus.actionMenu>
    </div>

</f:be.container>
</html>