.stepForm {

	&-next {}

	&-prev {}

	&-stepper {
		> span {
			transition: background .2s linear;

			&.is-active {
				background-color: #FFF;
			}
		}
	}

	&-step {
		margin: 0 !important;

		&.animate-in,
		&.animate-out {
			position: absolute;
			top: 0;
			width: 100%;
			animation: slideToLeft var(--stepForm-animation-speed, .5s) ease-in-out forwards;
			//margin: 0;
			&.is-reverse {
				animation: slideToRight var(--stepForm-animation-speed, .5s) ease-in-out forwards;
			}
		}

		&.animate-in {
			left: calc(100% + #{$gutter});

			&.is-reverse {
				left: calc(-100% - #{$gutter});
			}
		}

		&.animate-out {
			left: 0;

		}
	}


}

@keyframes slideToLeft {
	from {transform: translateX(0);}
	to { transform: translateX(calc(-100% - #{$gutter})); }
}

@keyframes slideToRight {
	from {transform: translateX(0);}
	to { transform: translateX(calc(100% + #{$gutter})) }
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideOut {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	from {
		opacity: 1;
		transform: translateX(0);
	}
}

$dialogWidthMax: 400px;

.ui-dialog {
	padding: 0;
	position: fixed;
	height: 100vh;

	#mapDialog {
		overflow: hidden;
	}

	& &-titlebar {
		position: absolute;
		top: $offset*2;
		left: $gutter;
		right: $gutter;
		font-weight: bold;
		text-align: center;
		padding: 14px;
		border: 0;
		border-radius: $offset;
		background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.65) 40.7%, rgba(0, 0, 0, 0.9) 100%);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		z-index: 500;

		@media (min-width: 768px) {
			left: $gutter*3;
			right: $gutter*3;
		}

		&-btn {
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			color: $color_primary;
			display: inline-flex;
			align-items: center;
			cursor: pointer;

			.icon {
				fill: currentColor;
				width: 22px;
				height: 22px;
				margin: $gutter/2;
			}
		}

		&-customclose {
			left: 0;
			right: auto;
		}

		&-help {
			right: 0;
		}

		.bubble {
			pointer-events: none;
			position: absolute;
			top: 5px;
			bottom: calc(50% + 1px);
			left: 20px;
			right: 20px;
			border-radius: 1em;
			background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 28.1%, rgba(255, 255, 255, 0.12) 100%);
			background-size: cover;
			background-blend-mode: color-burn;
			margin-top: -1px;

			&::after {
				content: '';
				position: absolute;
				top: 1px;
				width: 7px;
				height: 7px;
				left: 0;
				background: #a0a0a0;
				border-radius: 50%;
			}
		}
	}

	& &-title {
		font-family: "Houschka Rounded", sans-serif;
		font-weight: bold;
		font-size: $font-size-md;
		line-height: 22px;
		text-align: center;
		color: #FFF;
		margin: 0;
		float: none;
		width: auto;
	}

	& &-content {
		height: 100% !important;
		//position: absolute;
		//bottom: 0;
		//left: 0;
		padding: 0;
		width: 100% !important;
		//background-color: $color-body;
		//padding: $gutter*1.5 $gutter;
		//border-radius: 23px 23px 0px 0px;
		//box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
	}

	&.is-fullscreen {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&.boxed {
		background: transparent;
		border: 0;
		z-index: 500;

	}

	& &-content.box {
		padding: $offset $gutter;
		background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 40.7%, #fff 100%);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	}

	#helpDialog {
		text-align: center;
		max-width: $dialogWidthMax;
		width: 80%;
		margin-left: auto;
		margin-right: auto;

		.box-title {
			font-size: $font-size-sm;
			margin-bottom: ceil($offset/4);

			.icon {
				vertical-align: middle;
			}
		}

		h3 {
			font-size: $font-size-md;
			font-weight: bold;
		}

		#helpInfo {
			position: fixed;
			bottom: $offset*2;
			left: 50%;
			width: 360px;
			max-width: 80%;
			transform: translateX(-50%);
			color: $color_black;
			font-size: $font-size-xs;

			h3 {
				margin-bottom: 0;
			}

			h3 + p {
				margin-top: $offset/2;
			}

			p + p {
				margin-top: $offset/4;
			}

			a {
				font-weight: bold;
				color: $color_black;

				.icon {
					vertical-align: middle;
					margin-top: -3px;
				}
			}
		}
	}

	#rateDialog {
		h3 {
			font-weight: bold;
		}

		input.is-hidden {
			position: absolute;
			width: 0;
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}

		label[for^="rating"] {
			margin: $offset $gutter/2 $offset/4;
			font-weight: bold;
			opacity: .5;
			transition: all .1s linear;

			.icon {
				width: 36px;
				height: 36px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.btn.btn--marble {
				margin-bottom: $offset/4;
			}
		}

		#ratingNo {
			&:checked ~ label[for="ratingNo"] {
				opacity: 1;
				color: $color_primary;

				.icon {
					#Thumb {
						fill: $color_primary;
					}
				}
			}
		}

		#ratingYes {
			&:checked ~ label[for="ratingYes"] {
				opacity: 1;
				color: $color_primary;

				.icon {
					#Thumb {
						fill: $color_primary;
					}
				}
			}
		}

		textarea {
			text-align: left;
		}
	}
}


.ui-widget-overlay {
	&.help-overlay {
		background-color: rgba(#333, .95);
		opacity: 1;
		/* Note: currently only Safari supports backdrop-filter */
		@supports (backdrop-filter: blur(15px)) {
			background-color: rgba(#333, .5);
			//background: transparent;
			--webkit-backdrop-filter: blur(15px);
			backdrop-filter: blur(15px);
			//opacity: 1;
		}

		/* (plus shape's fill blended on top as a separate layer with 60% opacity) */


	}
}


div[id="kontoFavorites"] {
	height: 100%;
	display: flex;
	flex-direction: column;

	.subcontent {
		padding-bottom: 130px;
	}

	span[id="add_favorite"] {
		font-size: $font-size-xs;
		font-weight: bold;
		text-align: center;
		display: block;
		margin: 0 auto;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -50%);

		.btn {
			width: 46px;
			height: 46px;
			padding: 0;
			//display: inline-block;
			margin: 0 auto 6px;

			.icon {
				width: 24px;
			}
		}

	}
}



@keyframes slideOutLeft {
	to {
		transform: translateX(-100%);
		opacity: 0
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.prompt {
	& &-field {

	}

	& &-buttonpanel {
		@extend %buttonPanel !optional;
		background: transparent;
		border: 0;
		padding: 0;

		&.is-centered {
			.ui-dialog-buttonset {
				width: 100%;
				float: none;
				text-align: center;
			}
		}
	}

	&-btn {
		@extend %promptBtn !optional;

		&--accept {}

		&--cancel {
			color: $color_grey_60;
		}
	}

	&--confirm {
		border: 1px solid red;
			.box.prompt-content {
				padding-bottom: $offset*2;
			}
			.ui-dialog-buttonset {
				display: contents;

			}


		.prompt-btn {
			&--accept {
				position: absolute;
				margin: 0 !important;
				bottom: 0;
				left: 0;
				width: 100%;
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				border-bottom-right-radius: inherit;
				border-bottom-left-radius: inherit;
			}
			&--cancel {

				position: fixed;
				bottom: $offset;
				background: transparent;
				border: 0;
				left: 50%;
				transform: translateX(-50%);
				color: $color-white;
			}
		}
	}
}