@import "06_layout/header";
@import "06_layout/content";
@import "06_layout/footer";

body {
	min-height: 100vh;
	background: $color-body;
	overflow-x: hidden;
}

.page_wrap {
	transition-property: transform, opacity;
	transition-duration: .6s;

	&.slide-out {
		transform: translateX(-100%);


		&.is-reversed {
			transform: translateX(100%);
		}
	}

	@supports (display: grid) {
		display: grid;
		min-height: 100vh;
		grid-template-rows: [header] minmax(100px, max-content) [content] auto [footer] minmax(100px, max-content);

	}

}