$gutter: 20px;
$offset: 28px;

$font-size-xxl: 30px;
$font-size-xl: 24px;
$font-size-lg: 20px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;


// COLOR FROM ASSETS PANEL
$color_white: #FFF;
$color_black: #000;

$color_grey_60: #A0A3A4;

$color_primary: #95C11F;
$color_secondary: #EA5B0C;
$color_tertiary: #003E5C;
$color_quaternary: #387994;
$color_error_lighter: #FFC1AC;
$color_error: #F75454;
$color_error_dark: #DF2E2E;
$color_error_darker: #D60000;

$color-header: $color_quaternary;
$color-body: $color_primary;

