.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-justify {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.linethrough {
  text-decoration: line-through;
}

strong {
  font-weight: bold;
}

small {
  font-size: smaller;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  vertical-align: bottom;
  display: inline-block;
}

svg.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
  top: -100px;
  left: -100px;
}

svg.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
  margin-top: -3px;
  display: inline-block;
}

[disabled] {
  pointer-events: none;
  cursor: default;
}

a.back {
  font-weight: bold;
}

p, .as-p {
  line-height: 1.5;
}
p + p, * + p, .as-p + p, * + .as-p {
  margin-top: 28px;
}

.as-p {
  font-size: 16px;
}

* + ul, * + ol, * + dl {
  margin-top: 28px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  text-align: center;
  margin-bottom: 14px;
}

h1, .h1 {
  font-size: 30px;
  font-weight: bold;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 16px;
}

.h1 + h1, .h1 + h2, .h1 + h3, .h1 + h4,
.h2 + h1,
.h2 + h2,
.h2 + h3,
.h2 + h4,
.h3 + h1,
.h3 + h2,
.h3 + h3,
.h3 + h4,
.h4 + h1,
.h4 + h2,
.h4 + h3,
.h4 + h4,
.as-p + h1,
.as-p + h2,
.as-p + h3,
.as-p + h4 {
  margin-top: -14px;
}

.btn {
  display: block;
  border-radius: 2em;
  padding: 6px 20px;
  border: 0 !important;
  font-weight: bold !important;
  position: relative;
  text-align: center;
  z-index: 1;
  line-height: 1.5;
  font-size: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 40.7%, #fff 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #000;
  width: 100%;
}
@media (min-height: 670px) {
  .btn {
    line-height: 2.25;
    font-size: 24px;
  }
}
.btn::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: calc( 50% + 1px );
  left: 20px;
  right: 20px;
  border-radius: 1em;
  /*background: linear-gradient(180deg, rgba(255, 255, 255, .25), rgba(255, 255, 255, .125) 33%, rgba(255, 255, 255, .25)),
  radial-gradient(closest-side, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4) 99%, transparent) no-repeat .25em .125em*/
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 70.44%, rgba(255, 255, 255, 0.4) 100%), radial-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 26.06%, rgba(255, 255, 255, 0.2) 100%);
  background-size: cover;
  background-blend-mode: color-burn;
  margin-top: -1px;
  pointer-events: none;
  z-index: -1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 5px;
  width: 7px;
  height: 7px;
  left: 25px;
  background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 40.7%, #fff 100%);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  border-radius: 50%;
}
.btn .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  fill: currentColor;
  outline: none;
  margin-top: 0;
}
.btn.has-icon [class*=icon] {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
}
.btn--glass, .btn--marble {
  display: block;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.4) 45.6%, rgba(255, 255, 255, 0.7) 65.6%, rgba(255, 255, 255, 0.9) 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.btn--round, .btn--marble {
  height: 0;
  padding-top: 0;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  border-radius: 50%;
}
.btn--round::before, .btn--marble::before {
  left: 0.5em;
  right: 0.5em;
}
.btn--round::before, .btn--marble::before {
  border-radius: 50%;
}
.btn--marble {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}
.btn--marble::before {
  bottom: calc(50% - 3px);
  left: 16.66666%;
  right: 16.66666%;
}
.btn--marble::after {
  left: 10px;
  top: 6px;
  background: #fff;
}
.btn--marble.has-icon .icon {
  width: 24px;
  height: 24px;
}
.btn--next {
  background: linear-gradient(to bottom, #f67b53, #d63701);
  color: #FFF;
  box-shadow: 0 2px 2px rgba(214, 55, 1, 0.5);
}
.btn--next::before {
  left: 20px;
  right: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.125) 33%, rgba(255, 255, 255, 0.25));
  background-size: cover;
  background-blend-mode: color-burn;
}
.btn--next::after {
  left: 1.25em;
}
.btn--next .icon {
  left: auto;
  right: 40px;
  width: 24px;
  height: 24px;
}
.btn--back {
  display: block;
  border-radius: 2em;
  padding: 6px 20px;
  border: 0 !important;
  font-weight: bold !important;
  position: relative;
  text-align: center;
  z-index: 1;
  line-height: 1.5;
  font-size: 20px;
  background: linear-gradient(to bottom, #64a5c0, #397585);
  color: #FFF;
  box-shadow: 0 2px 2px rgba(57, 117, 133, 0.5);
}
@media (min-height: 670px) {
  .btn--back {
    line-height: 2.25;
    font-size: 24px;
  }
}
.btn--back::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: calc( 50% + 1px );
  left: 20px;
  right: 20px;
  border-radius: 1em;
  /*background: linear-gradient(180deg, rgba(255, 255, 255, .25), rgba(255, 255, 255, .125) 33%, rgba(255, 255, 255, .25)),
  radial-gradient(closest-side, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4) 99%, transparent) no-repeat .25em .125em*/
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 70.44%, rgba(255, 255, 255, 0.4) 100%), radial-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 26.06%, rgba(255, 255, 255, 0.2) 100%);
  background-size: cover;
  background-blend-mode: color-burn;
  margin-top: -1px;
  pointer-events: none;
  z-index: -1;
}
.btn--back::after {
  content: "";
  position: absolute;
  top: 5px;
  width: 7px;
  height: 7px;
  left: 25px;
  background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 40.7%, #fff 100%);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  border-radius: 50%;
}
.btn--back::before {
  left: 20px;
  right: 20px;
  background-size: cover;
  background-blend-mode: color-burn;
  background: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 28.1%, rgba(255, 255, 255, 0.25) 100%);
}
.btn--back::after {
  background: #bed9e5;
  left: 22px;
}
.btn--back .icon {
  left: 40px;
  width: 24px;
  height: 24px;
}
.btn--secondary {
  border-radius: 33px;
  background: linear-gradient(#65a6c1 0%, #3b7b96 57.1%, #34728d 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.btn--secondary::before {
  background: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 28.1%, rgba(255, 255, 255, 0.25) 100%);
}
.btn--secondary::after {
  background: #bed9e5;
}
.btn--secondary:hover, .btn--secondary:active {
  background: linear-gradient(#34728d 0%, #3b7b96 57.1%, #65a6c1 100%);
}
.btn--cancel.btn--cancel {
  border-radius: 33px;
  color: #FFF;
  background: linear-gradient(#F75454 0%, #DF2E2E 57.1%, #D60000 100%);
}
.btn--cancel.btn--cancel::before {
  background: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 28.1%, rgba(255, 255, 255, 0.25) 100%);
}
.btn--cancel.btn--cancel::after {
  background: #FFC1AC;
}
.btn--cancel.btn--cancel:hover, .btn--cancel.btn--cancel:active {
  background: linear-gradient(#D60000 0%, #DF2E2E 57.1%, #F75454 100%);
}
.btn--user {
  padding-left: gutter(2);
}
.btn--user .icon {
  left: gutter();
}
@media (min-width: 380px) {
  .btn--user .icon {
    left: gutter(2);
  }
}
.btn[disabled] {
  filter: grayscale(1);
}

input[type=text], input[type=email], input[type=search], input[type=number], input[type=password], select, textarea {
  width: 100%;
  height: auto;
  border: 3px solid #A0A3A4;
  line-height: 1.75;
  font-size: 16px;
  padding: gutter(0.33) gutter();
  border-radius: 3em;
  text-align: center;
  background: linear-gradient(#e3e4e1 0%, #fff 31%, #FFF 67.6%, #e3e4e1 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: inherit;
}
@media (min-height: 670px) {
  input[type=text], input[type=email], input[type=search], input[type=number], input[type=password], select, textarea {
    line-height: 2.333;
    font-size: 20px;
  }
}
input[type=text] _:-ms-fullscreen, input[type=text], input[type=email] _:-ms-fullscreen, input[type=email], input[type=search] _:-ms-fullscreen, input[type=search], input[type=number] _:-ms-fullscreen, input[type=number], input[type=password] _:-ms-fullscreen, input[type=password], select _:-ms-fullscreen, select, textarea _:-ms-fullscreen, textarea {
  line-height: 1;
  height: 3em;
}
input[type=text]:focus, input[type=email]:focus, input[type=search]:focus, input[type=number]:focus, input[type=password]:focus, select:focus, textarea:focus {
  background: #FFF;
  outline: none;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=search]::placeholder, input[type=number]::placeholder, input[type=password]::placeholder, select::placeholder, textarea::placeholder {
  font-weight: bold;
}
input[type=text] + label, input[type=email] + label, input[type=search] + label, input[type=number] + label, input[type=password] + label, select + label, textarea + label {
  display: none;
}

select {
  -webkit-appearance: none;
  position: relative;
}

input[name="tx_c3baxi_baxisuche[routeShow][start]"],
input[name="tx_c3baxi_baxisuche[routeShow][end]"],
input[name="tx_c3baxi_baxisuche[routeShow][time]"] {
  background-image: url("../Images/SVG/Standort.svg"), linear-gradient(#e3e4e1 0%, #fff 31%, #FFF 67.6%, #e3e4e1 100%);
  background-size: 25px 25px, auto auto;
  background-repeat: no-repeat;
  background-position: 30px center, 0 0;
}
@media (max-width: 420px) {
  input[name="tx_c3baxi_baxisuche[routeShow][start]"],
input[name="tx_c3baxi_baxisuche[routeShow][end]"],
input[name="tx_c3baxi_baxisuche[routeShow][time]"] {
    padding-left: gutter(3);
  }
}

input[name="tx_c3baxi_baxisuche[routeShow][time]"] {
  background-image: url("../Images/SVG/Uhr.svg"), linear-gradient(#e3e4e1 0%, #fff 31%, #FFF 67.6%, #e3e4e1 100%);
}

iframe {
  --width: 800px;
  max-width: 100%;
  height: calc( var(--width) / 100 * 56.25 );
}
body {
  display: block;
  background: #FFF;
}

/*# sourceMappingURL=rte.css.map */
