@import "variables";
@import "mixins";

.subpage {
	background-color: $color_tertiary;

	@media (min-width: 834px ) {
		background: #333;
		.page_wrap{
			background: $color_tertiary;
		}
	}
	//padding-top: $gutter*5;


	.footer {
		display: block;
	}
}