.frame {

	.icon-wrap {
		text-align: center;
		.icon {
			width: 80px;
			height: 80px;
		}
	}

	&-type {
		&-textmedia {

		}

	}

	&-space-before {
		&-extra-small {
			margin-top: floor($offset/4);
		}

		&-small {
			margin-top: floor($offset/2);
		}

		&-medium {
			margin-top: $offset;
		}

		&-large {
			margin-top: $offset*2;
		}

		&-extra-large {
			margin-top: $offset*3;
		}

	}

	&-space-after {
		&-extra-small {
			margin-bottom: floor($offset/4);
		}

		&-small {
			margin-bottom: floor($offset/2);
		}

		&-medium {
			margin-bottom: $offset;
		}

		&-large {
			margin-bottom: $offset*2;
		}

		&-extra-large {
			margin-bottom: $offset*3;
		}

	}
}