.booking {
display: flex;
	flex-direction: column;
	height: 100vh;
	.subcontent {
		justify-self: stretch;
	}
	&-info {
		color: $color_white;
		margin-bottom: $offset*2;

		> div {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $color_white;
			padding: $offset/2 0;
		}
	}
}

