<div>
    <h2>04.10.2019</h2>
    <div class="baxi_collapsible">
        <h3>8316 - Fahrt 2
            <span data-toggle="collapse" data-target="#booking-000">
                <core:icon identifier="actions-view-list-expand" />
            </span>
        </h3>
        <div class="baxi_collapsible-block" id="booking-000">

            <p>Tirschenreuth 4</p>
            <p>Tirschenreuth 3</p>
            <p>Tirschenreuth 2</p>
            <p>Tirschenreuth 1</p>
            <p>Bärnau 4</p>
            <p>Bärnau 3</p>
            <p>Bärnau 2</p>
            <p>Bärnau 1</p>

            <p><span>Tirschenreuth, Mühlbühlstr.</span> <span>+2</span> <span>-1</span></p>
            <p><span>Naab2</span> <span>0</span> <span>-2</span></p>
        </div>
    </div>

</div>