<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:form action="{action}"
        name="Haltestelle"
        object="{haltestelle}" objectName="haltestelle">
    <p>
        <label>
            <f:translate key="haltestelle.name" default="Name"/>
        </label>
        <f:form.textfield property="name" class="form-control"/>
    </p>
    <div class="row" style="margin-bottom: 8px;">
        <div class="col-sm-6">
            <label>
                <f:translate key="haltestelle.number" default="Nummer"/>
            </label>
            <f:form.textfield property="number" class="form-control"/>
        </div>

        <div class="col-sm-6">
            <label>
                <f:translate key="haltestelle.wabe" default="Wabe"/>
            </label>
            <f:form.textfield property="wabe" class="form-control"/>
        </div>
    </div>
    <p>
        <label>
            <f:translate key="haltestelle.berechnungsstelle" default="Abrechnungshaltestelle"/>
        </label>
        <f:form.select property="calculation" class="form-control" options="{haltestellen}" optionLabelField="name" optionValueField="uid" optionsAfterContent="true">
            <f:form.select.option value="">{f:translate(key: 'haltestelle.calculation.same', default: 'ist Berechnungsstelle')}</f:form.select.option>
        </f:form.select>
    </p>

    <p>
        <label>Zone</label>

        <span class="input-group">
            <f:form.hidden name="prevZone" value="{haltestelle.zone.uid}" />
            <f:form.select property="zone" class="form-control" options="{zoneList}" value="{haltestelle.zone}"/>
            <f:comment><span class="input-group-btn"><f:form.button type="button" class="btn btn-default" onclick="">neue Zone erstellen</f:form.button></span></f:comment>
        </span>
    </p>

    <div>
        <label>
            <f:translate key="haltestelle.latitude" default="Breitengrad"/>
            /
            <f:translate key="haltestelle.longitude" default="Längengrad"/>
        </label>
        <div class="row" style="margin-bottom: 8px;">
            <div class="col-sm-5">
                <f:form.textfield class="form-control" property="latitude" value="{haltestelle.latitude}" additionalAttributes="{data-geo:'latitude'}"/>
            </div>
            <div class="col-sm-5">
                <f:form.textfield class="form-control" property="longitude" value="{haltestelle.longitude}" additionalAttributes="{data-geo:'longitude'}"/>
            </div>
            <div class="col-sm-2">
                <span class="input-group-append"><f:form.button additionalAttributes="{'data-action':'geolocate', 'data-target':haltestelle.name}" type="button"
                                                                class="btn btn-default">Position finden</f:form.button></span>
            </div>
        </div>
    </div>

    <div class="" style="display: none">
        <div id="gmap"></div>
    </div>


    <div class="bar bar--controls btn-group">
        <f:link.action action="list" controller="Haltestelle" class="btn btn-default">Storno</f:link.action>
        <f:form.button type="submit" name="action_after" value="edit" class="btn btn-success">Speichern</f:form.button>
        <f:form.button type="submit" name="action_after" value="close" class="btn btn-success">Speichern und schliessen</f:form.button>
        <f:form.button type="submit" name="action_after" value="new" class="btn btn-success">Speichern und Neu</f:form.button>
    </div>

</f:form>

</html>