<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-c3baxi" >
	<tr>
		<td>
			<f:translate key="tx_c3baxi_domain_model_haltestelle.name" />
		</td>
		<td>
			{haltestelle.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c3baxi_domain_model_haltestelle.latitude" />
		</td>
		<td>
			{haltestelle.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c3baxi_domain_model_haltestelle.longitude" />
		</td>
		<td>
			{haltestelle.longitude}
		</td>
	</tr>
</table>
</html>