<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Reactive" />

<f:section name="header">
    <div class="bar">
        <f:link.action action="index" controller="Baxi" class="button button--back">zur&uuml;ck</f:link.action>
        <h1>Neue Fahrt buchen</h1>
    </div>
</f:section>
<f:section name="content">

    <f:form id="findRoute">
        <f:form.hidden name="user" value="{beUser}" />
        <f:render partial="Form/StationsSelect" arguments="{stations: stations}" />
        <div class="form-group">
            <label>Abfahrt</label>
            <div class="row">
                <div class="col-sm-6">
                    <f:be.security.ifHasRole role="2">
                        <f:then>
                            <f:form.textfield class="form-control" type="date" name="date" value="{datum -> f:format.date(format: 'Y-m-d')}" additionalAttributes="{autocomplete : 'off'}"/>
                        </f:then>
                        <f:else>
                            <f:form.textfield class="form-control" type="date" name="date" value="{f:format.date(format: 'Y-m-d')}"
                                              additionalAttributes="{autocomplete : 'off', min:minDate}"/>
                        </f:else>
                    </f:be.security.ifHasRole>
                </div>
                <div class="col-sm-6">
                    <f:form.select name="time" class="form-control" value="{time}" options="{timeList}"
                                   prependOptionLabel="{f:translate(key: 'selecttime', default: 'Wunschzeit wählen')}"/>
                </div>
            </div>
        </div>

        <p>
            <label><f:form.checkbox value="1" name="return" id="returnRide" /> {f:translate(key: 'returnRide', default: 'Hin-/Rück- Fahrt')}</label>
        </p>

        <p>
            <button type="submit" class="btn btn-success" name="find" data-action="find">suche Fahrten</button>
        </p>

    </f:form>

    <div style="display: none;" class="map-wrap">
        <span class="close"><core:icon identifier="actions-close" /></span>
        <p><input type="text" size="80" id="searchField"/><button id="searchBtn">Suchen</button></p>
        <div id="map"></div>

    </div>

    <div class="output">
        <template id="ride">
            <div class="box box--ride" style="margin-top:16px; border: 1px solid;">

                <div class="box-info box-info--times">
                    <p><strong>
                        <f:translate key="booking.line" default="Linie" />
                        :</strong> <span>##line## - ##fahrtName##</span>
                    </p>
                    <p><strong>
                        <f:translate key="booking.departure" default="Abfahrt"/>
                        :</strong> ##departure##
                    </p>
                    <p><strong>
                        <f:translate key="booking.arrival" default="Ankunft"/>
                        :</strong> ##arrival##
                    </p>
                    <p><strong>
                        <f:translate key="booking.duration" default="Fahrtdauer"/>
                        :</strong> ##duration## Min.
                    </p>
                    <p><strong>
                        <f:translate key="booking.date" default="Datum" />
                        :</strong> <time datetime="##date## ##time##">##date##</time>
                    </p>
                </div>
                <f:form action="create" class="box-form">
                    <f:form.hidden name="fahrt" value="" />
                    <f:form.hidden name="date" value="" />
                    <f:form.hidden name="startStation" value="" />
                    <f:form.hidden name="endStation" value="" />
                    <p><label><f:translate key="booking.adults">Erwachsene</f:translate></label>
                        <f:form.textfield name="adults" class="form-control" type="number" value="1" additionalAttributes="{min: 0, step: 1,max:10}" />
                    </p>
                    <p><label><f:translate key="booking.children">Kinder</f:translate></label>
                        <f:form.textfield name="children" class="form-control" type="number" value="0" additionalAttributes="{min: 0, step: 1,max:10}" />
                    </p>
                    <p>
                        <label>
                            <f:translate key="booking.user">Kunde</f:translate>
                        </label>
                        <span>
                            <f:form.select name="user"
                                           class="select2"
                                           options="{users}"
                                           optionLabelField="bename"
                                           optionValueField="uid"
                                           prependOptionLabel="{f:translate(key:'booking.no_user', default: 'wählen Sie einen Kunden aus')}"
                                           prependOptionValue=""
                                           additionalAttributes="{required:'required'}"
                            ></f:form.select>
                            <label><f:form.checkbox name="new_user" class="newUserToggle" value="1"/> neuen Kunden anlegen</label>
                        </span>
                    </p>
                    <div style="display: none" class="newUser">
                        <f:render partial="User/New" />
                    </div>
                    <p>
                        <label><f:translate key="booking.info" default="Notiz"/></label>
                        <f:form.textarea name="info" cols="60" rows="2" class="form-control"></f:form.textarea>
                    </p>
                    <f:comment><f:link.action action="new" controller="Subscription" arguments="{fahrt:'##fahrt##',date:'##date##',start:'##start##',end:'##end##'}" class="btn btn-default">Abo Buchen</f:link.action></f:comment>
                    <f:form.button class="btn btn-success">Jetzt Buchen</f:form.button>
                </f:form>
            </div>
        </template>
        <template id="multiRide">
            <div class="box box--ride box--small" style="margin-top:16px; border: 1px solid;">
                <input type="hidden" name="tx_c3baxi_tools_c3baxibaxi[date][##ride##]" value="%%date%%" />
                <label class="fake-checkbox"><input type="radio" name="tx_c3baxi_tools_c3baxibaxi[fahrt][]" value="##ride##"><span></span></label>

                <div class="box-info box-info--times">
                    <p><strong>
                        <f:translate key="booking.line" default="Linie"/>
                        :</strong> <span>##line## - ##fahrtName##</span>
                    </p>
                    <p><strong>
                        <f:translate key="booking.departure" default="Abfahrt"/>
                        :</strong> ##departure##
                    </p>
                    <p><strong>
                        <f:translate key="booking.arrival" default="Ankunft"/>
                        :</strong> ##arrival##
                    </p>
                    <p><strong>
                        <f:translate key="booking.duration" default="Fahrtdauer"/>
                        :</strong> ##duration## Min.
                    </p>
                </div>

            </div>
        </template>
        <template id="multiForm">
            <f:form action="create" class="box-form">
                <f:form.hidden name="fahrt" value=""/>
                <f:form.hidden name="date" value=""/>
                <f:form.hidden name="startStation" value=""/>
                <f:form.hidden name="endStation" value=""/>

                <div id="rideList">
                </div>
                <div>
                    <p><label>
                        <f:translate key="booking.adults">Erwachsene</f:translate>
                    </label>
                        <f:form.textfield name="adults" class="form-control" type="number" value="1" additionalAttributes="{min: 0, step: 1,max:10}"/>
                    </p>
                    <p><label>
                        <f:translate key="booking.children">Kinder</f:translate>
                    </label>
                        <f:form.textfield name="children" class="form-control" type="number" value="0" additionalAttributes="{min: 0, step: 1,max:10}"/>
                    </p>
                    <p>
                        <label>
                            <f:translate key="booking.user">Kunde</f:translate>
                        </label>
                        <span>
                            <f:form.select name="user"
                                           class="select2"
                                           options="{users}"
                                           optionLabelField="bename"
                                           optionValueField="uid"
                                           prependOptionLabel="{f:translate(key:'booking.no_user', default: 'wählen Sie einen Kunden aus')}"
                                           prependOptionValue=""
                                           additionalAttributes="{required:'required'}"
                            ></f:form.select>
                            <label><f:form.checkbox name="new_user" class="newUserToggle" value="1"/> neuen Kunden anlegen</label>
                        </span>
                    </p>
                    <div style="display: none" class="newUser">
                        <f:render partial="User/New"/>
                    </div>
                    <p>
                        <label>
                            <f:translate key="booking.info" default="Notiz"/>
                        </label>
                        <f:form.textarea name="info" cols="60" rows="2" class="form-control"></f:form.textarea>
                    </p>
                    <f:form.button class="btn btn-success">Jetzt Buchen</f:form.button>
                </div>

            </f:form>
        </template>
        <div class="list list--rides">

        </div>

    </div>


</f:section>

</html>
