<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Haltestelle</h1>

    <f:flashMessages />

    <table class="tx_c3baxi">
        <thead>
        <tr>
            <th>
                <f:translate key="tx_c3baxi_domain_model_haltestelle.name" />
            </th>
            <th>
                <f:translate key="tx_c3baxi_domain_model_haltestelle.latitude" />
            </th>
            <th>
                <f:translate key="tx_c3baxi_domain_model_haltestelle.longitude" />
            </th>
            <th class="tac"><f:translate key="tx_c3baxi_domain_model_haltestelle.zone" /></th>
            <th class="action"><f:link.action action="new">New Haltestelle</f:link.action></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{haltestelles}" as="haltestelle">
            <tr>
                <td>
                    <f:link.action action="show" arguments="{haltestelle : haltestelle}"> {haltestelle.name}
                    </f:link.action>
                </td>
                <td>
                    <f:format.number decimals="6" decimalSeparator=".">{haltestelle.latitude}</f:format.number>&deg;

                </td>
                <td>
                    <f:format.number decimals="6" decimalSeparator=".">{haltestelle.longitude}</f:format.number>&deg;
                </td>
                <td class="tac">
                    <f:if condition="{haltestelle.zone}">
                        <f:then>{haltestelle.zone.name}</f:then>
                        <f:else> - </f:else>
                    </f:if>

                </td>
                <td class="action">
                    <f:link.action action="edit" arguments="{haltestelle : haltestelle}">Edit</f:link.action>
                    <f:link.action action="delete" arguments="{haltestelle : haltestelle}">Delete</f:link.action>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>

    <f:form action="import" additionalAttributes="{ enctype: 'multipart/form-data'}">
        <p>
            <label>Import File</label>
            <f:form.upload name="importFile"></f:form.upload>
        </p>
        <f:form.submit value="Importieren" />
    </f:form>

</f:section>
</html>