$background_input : linear-gradient(#e3e4e1 0%, #fff 31%, #FFF 67.6%, #e3e4e1 100%);

form {

}

input[type="text"],input[type="email"],input[type="search"],input[type="number"],input[type="password"], select, textarea {
	width: 100%;
	height: auto;
	border: 3px solid $color_grey_60;
	line-height: 1.75;
	font-size: $font-size-md;

	@media (min-height: 670px){
		line-height: 2.333;
		font-size: $font-size-lg;
	}

	_:-ms-fullscreen, & {
		line-height: 1;
		height: 3em;
	}
	padding: gutter(.33) gutter();
	border-radius: 3em;
	text-align: center;


	background: $background_input;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font-family: inherit;

	&:focus {
		background: #FFF;
		outline: none;
	}

	&::placeholder {
		font-weight: bold;
	}
	+ label {
		display: none;
	}
}

select {
	-webkit-appearance: none;
	position: relative;
}

input[name="tx_c3baxi_baxisuche[routeShow][start]"],
input[name="tx_c3baxi_baxisuche[routeShow][end]"],
input[name="tx_c3baxi_baxisuche[routeShow][time]"] {
	background-image: url("../Images/SVG/Standort.svg"),
	$background_input;
	background-size: 25px 25px,auto auto;
	background-repeat: no-repeat;
	background-position: 30px center, 0 0;
	@media (max-width: 420px) {
		padding-left: gutter(3);
	}
}
input[name="tx_c3baxi_baxisuche[routeShow][time]"] {
	background-image: url("../Images/SVG/Uhr.svg"),
	$background_input;
}
