h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4{
	text-align: center;
	margin-bottom: $offset/2;
}

h1, .h1{
	font-size: $font-size-xxl;
	font-weight: bold;
}
h2, .h2{
	font-size: $font-size-xl;
}
h3, .h3{
	font-size: $font-size-lg;
}
h4, .h4{
	font-size: $font-size-md;
}

.h1,
.h2,
.h3,
.h4,
.as-p {
	& + h1,
	& + h2,
	& + h3,
	& + h4{
		margin-top: $offset/-2;
	}
}