<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="list list--linie">
    <f:for as="linie" each="{linien}">
        <div class="list-item baxi_collapsible">
            <h4>
                            <span data-toggle="collapse"
                                  data-target="#linie-{linie.uid}">
                              <core:icon identifier="actions-view-list-expand" />
                          </span>
                <span>{linie.nr} {linie.name}</span>
            </h4>
            <span class="list-actions">
                    <f:link.action class="btn btn-icon btn-default" action="edit"
                                   arguments="{linie : linie }"
                                   controller="Linie"
                                   title="Linie bearbeiten">
                        <core:icon identifier="actions-open" />
                    </f:link.action>
                    <f:link.action class="btn btn-icon btn-default" action="delete"
                                   arguments="{linie : linie }"
                                   controller="Linie"
                                   title="Linie l&ouml;schen">
                    <core:icon identifier="actions-edit-delete" />
                </f:link.action>
            </span>


            <div class="baxi_tabs baxi_collapsible-block" style="flex: 1 1 100%;" id="linie-{linie.uid}">

                <nav class="baxi_tabs-header">
                    <span data-target="fahrten-{linie.uid}" class="is-active">Fahrten</span>
                    <span data-target="route-{linie.uid}">Route</span>
                </nav>

                <div data-tabid="fahrten-{linie.uid}" class="baxi_tabs-tab is-active">
                    <div class="bar">
                        <f:link.action action="export" controller="Fahrt" class="btn btn-default"
                                       arguments="{linie: linie, type: 'fahrplan'}">Fahrplan Exportieren
                        </f:link.action>
                        <f:link.action action="new" controller="Fahrt" class="btn btn-default"
                                       arguments="{linie: linie}">neue fahrt
                        </f:link.action>
                    </div>
                    <ul class="list">
                        <f:for as="fahrt" each="{linie.fahrten}">
                            <li class="list-item">

                                <span>{fahrt.name}<br />
                                    <small>
                                        <f:for as="tag" each="{fahrt.tage}" iteration="idx"><span>{tag}</span><f:if
                                                condition="! {idx.isLast}">, </f:if></f:for>
                                    </small>
                                </span>
                                <span>{fahrt.buchbarBis -> f:format.date(format:'H:i')}</span>
                                <span class="list-actions">
                                    <f:link.action class="btn btn-icon btn-default btn-small" action="edit"
                                                   controller="Fahrt"
                                                   arguments="{fahrt : fahrt}">
                                        <core:icon identifier="actions-open" />
                                    </f:link.action>
                                    <f:link.action class="btn btn-icon btn-default btn-small" action="delete"
                                                   controller="Fahrt"
                                                   arguments="{fahrt : fahrt}">
                                        <core:icon identifier="actions-delete" />
                                    </f:link.action>
                                </span>
                            </li>
                        </f:for>
                    </ul>
                </div>

                <div data-tabid="route-{linie.uid}" class="baxi_tabs-tab">
                    <ul class="baxi_list baxi_list--direction">
                        <f:for as="zone" each="{linie.zonen}">
                            <li class="baxi_list-item">
                                {zone.name}
                            </li>
                        </f:for>
                    </ul>
                </div>

            </div>
        </div>
    </f:for>
</div>